{% extends 'base.html'%}
{% load static %}

{% block childpage %}

<div class="container">
<!--start heading-->
<div class="row heading  py-4" xmlns="http://www.w3.org/1999/html">
     <div class="col-sm-6">
        <img src="{% static 'images/gobal.jpg' %}" height="400px" width="600px" class="img-fluid pt-4"/>
    </div>
<div class="col-sm-6">
    <p class="fs-3 text-center">About <b class="txt-color1">Us </b></p>
   <hr/>
  <p>Samachar India redefines the essence of news delivery by focusing on the core principle of authenticity. Unlike traditional newspapers, which may be bogged down by the concept of "paper," Samachar India places emphasis on "news"—delivering accurate, timely, and comprehensive information about global events and local happenings.

At Samachar India, our mission is to provide real news, devoid of rumors and misinformation. We are committed to highlighting significant issues that shape our world, working diligently to keep our readers informed with integrity and reliability. Our goal is not just to capture attention, but to engage and inform through well-crafted, humorous, and descriptive content.
We believe that more information is always better than less, and strive to present it in a way that is both
engaging and enlightening. Whether through detailed articles, witty commentary, or insightful analysis, Samachar India aims to be your trusted source for news.</p>
    <a class="btn bg-mycolor1 text-light bt"> Know More..</a>
</div>

</div>
<!--end heading-->
    <div class="row heading  py-4" xmlns="http://www.w3.org/1999/html">

<div class="col-sm-6">
    <p class="fs-3 text-center">Our <b class="txt-color1">Vision </b></p>
    <hr/>
  <p>Our vision for the news portal is to be a trusted source of timely, accurate, and relevant information that empowers our readers. We aim to deliver diverse perspectives on current events, fostering informed discussions and deeper understanding within our communities. By embracing innovative technologies and engaging multimedia content, we strive to create an accessible platform that not only informs but also inspires. Together, we envision a space where curiosity thrives and knowledge drives positive change.</p>
    <a class="btn bg-mycolor1 text-light bt"> Know More..</a>
</div>
          <div class="col-sm-6">
        <img src="{% static 'images/vision.png' %}" height="400px" width="600px" class="img-fluid"/>
    </div>

</div>
    </div>
{% endblock %}