{% extends 'base.html'%}
{% load static %}

{% block childpage %}
<!--start heading-->
<div class="row heading text-center py-4" xmlns="http://www.w3.org/1999/html">
<div class="col-sm-6 mx-auto">
    <p class="fs-3 mb-0">Video <b class="txt-color1">News</b></p>
    <i> Get latest news video here...</i>
    <hr/>
</div>
</div>
<!--end heading-->
<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            {% for x in vdata %}
            <div class="col-sm-6">
                <div class="card shadow-lg mb-3 border-0">
 <b class="text-muted">posted date :{{x.posted_date}}</b>
                    <iframe class="card-img-top w-100" width="560" height="315" src="{{x.video_link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="card-body" style="max-height:300px; overflow-y:auto">

                        <p class="fs-4">{{x.news_headline}}</p>
                        <p style="text-align:justify">{{x.news_description | safe}}</p>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
